@model IEnumerable<Emsoir.Dominio.Entity.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .td {
        width: 100px;
    }
</style>
<h1>
    Listado
</h1>

<p>
    <a class="btn btn-dark" asp-action="Crear"><i class="fas fa-plus-square">&nbsp</i>Nueva Categoria</a>
</p>
<div class="card">
    <div class="card-body">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>

                    <th class="td">Operaciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>

                        <td class="td">
                            @*@Html.ActionLink(".", "Editar", new { id = item.CategoriaId }, new { @class = "btn btn-Primary fas fa-trash-alt" }) |*@
                            <a class="btn btn-primary" asp-controller="Categoria" asp-action="Editar" asp-route-id="@item.CategoriaId"><i class="fas fa-edit"></i></a>


                            <button type="button" onclick="Eliminar(@item.CategoriaId)" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                <i class="fas fa-trash-alt"></i>
                            </button>

                        </td>
                    </tr>
                }


            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>

@*@using (Html.BeginForm("Eliminar", "Categoria", FormMethod.Post, new { @id = "FrmEliminar" }))
{
   
   <input type="text" id="id" name="id" >

}*@

@section scripts {
    <script>

        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            });
        });




        function Eliminar(id) {
            var UrlListado = "@Url.Action("Index", "Categoria")";
            Swal.fire({
                title: 'Esta seguro de eliminar este registro?',
                text:"este contenido no se podra recuperar!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar!'
                 }).then((result) => {
                     if (result.value) {
                         $.ajax({
                             type: 'DELETE',
                             url: "@Url.Action("Eliminar", "Categoria")",
                             data: {
                                 id:id,
                             },
                             success: function (Response) {

                                 var JsonString = JSON.stringify(Response);
                                 var objetoJosn = JSON.parse(JsonString);
                                 //console.log(objetoJosn.data);
                                 //console.log(objetoJosn.mensaje);
                                 //console.log(objetoJosn.isSuccess);

                                 if (objetoJosn.isSuccess) {
                                     window.location.replace(UrlListado);
                                     toastr.success(objetoJosn.mensaje);
                                     }
                                 else {
                                     toastr.error(objetoJosn.mensaje);

                                 }
                             }
                             });


                } else {
                    alert("no eliminado")
                }
            })

            //debugger;
            //document.getElementById("id").value = id;

        }


             

    </script>

}


