@using Emsoir.Dominio.Entity.ViewModels,
@using Emsoir.Dominio.Entity.Models,
@using Newtonsoft.Json,



@{
    UsuarioMenuViewModels s = new UsuarioMenuViewModels();
    s.Usuario = ViewBag.usuario;

   


    if (ViewBag.usuario != null)
    {
        s.Roll = ViewBag.Roll;
        s.RollMenu = ViewBag.Menu;
        s.MenuPagina = ViewBag.Paginas;
       

    }
    else
    {

    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Producto" asp-action="Index">Empresa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PaginaPrincipal" asp-action="Index">Inicio</a>
                        </li>
                        @if (ViewBag.usuario != null)
                        {
                            @foreach (var item in s.RollMenu)
                            {
                                if (item.Flag_Menu == "Padre")
                                {
                                    //crea un dowdonlist
                                    var obtenerHijos = s.MenuPagina.Where(x => x.MenuId == item.MenuId).ToList();
                                    <div class="dropdown">
                                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @item.Nombre
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @foreach (var itemHijos in obtenerHijos)
                                            {
                                                var url = itemHijos.UrlPagina.Split('/');
                                                var controlador = url[0];
                                                var accion = url[1];
                                                <a class="dropdown-item" asp-controller="@controlador" asp-action="@accion">@itemHijos.Nombre</a>

                                             }
                                        </div>
                                    </div>


                                }
                                //si el menu actua como hijo
                                else
                                {
                                    var obtenerHijos = s.MenuPagina.FirstOrDefault(x => x.MenuId == item.MenuId);
                                    if (obtenerHijos != null)
                                    {
                                        var url = obtenerHijos.UrlPagina.Split('/');
                                        var controlador = url[0];
                                        var accion = url[1];
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="@controlador" asp-action="@accion">@obtenerHijos.Nombre</a>
                                        </li>

                                    }


                                }


                            }
                        }








                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
